/* About.css */
.about-section {
    padding: 60px 0;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .section-title {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: bold;
    position: relative;
    display: inline-block;
  }

  .section-title:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: var(--primary-color);
    bottom: -10px;
    left: 0;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
  }

  .about-row {
    margin-bottom: 30px;
  }
  
  .profile-image-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-image-container {
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgba(254, 175, 190, 0.3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-left: 10px;
  }
  
  .profile-image-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(254, 175, 190, 0.2);
  }
  
  .profile-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .about-text-col {
    text-align: left;
  }
  
  .intro-text {
    margin-bottom: 50px;
    align-items: left;
    text-align: justify;
    margin-right: 20px;
  }
  
  .intro-text p {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    opacity: 0.9;
  }
  
  .highlight {
    color: var(--primary-color);
    font-weight: 600;
    position: relative;
    display: inline-block;
  }
  
  .highlight::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
  }
  
  .highlight:hover::after {
    width: 100%;
  }
  
  /* Educação */
  .education-section {
    margin: 0 auto;
    margin-top: 80px;

  }
 

    /* Adicione essa media query para garantir que a imagem fique acima do texto em telas pequenas */
    @media (max-width: 767px) {
        .profile-image-col {
          margin-bottom: 30px;
        }
      }